# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=your-ga-measurement-id
NEXT_PUBLIC_META_PIXEL_ID=your-meta-pixel-id

# Contact Information
NEXT_PUBLIC_WHATSAPP_NUMBER=1234567890
NEXT_PUBLIC_PHONE_NUMBER=1234567890
NEXT_PUBLIC_EMAIL=contato@neolife.com

# Website Configuration
NEXT_PUBLIC_SITE_URL=https://neolife.com

# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dnvnftvky
CLOUDINARY_API_KEY=259851568455899
CLOUDINARY_API_SECRET=3hRsXzUVd3pnwn9IKQWN7UAeJLc